  body {
      font-family: Arial, sans-serif;
      background-color: #f7f7f7;
      margin: 0;
      padding: 0;
    }
    nav {
    background: #f0e6f0;
    padding: 10px;
    display: flex;
    gap: 15px;
    justify-content: center;
    }
    nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    }
    header {
      background: #d8bfd8;
      color: white;
      padding: 20px;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
    }

    .container {
      width: 80%;
      max-width: 700px;
      margin: 40px auto;
      background: white;
      padding: 25px;
      border-radius: 10px;
      box-shadow: 0 0 15px rgba(0,0,0,0.1);
    }

    h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    label {
      font-weight: bold;
    }

    input, textarea {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
    }

    button {
      width: 100%;
      background-color: #c79dd7;
      color: white;
      border: none;
      padding: 12px;
      font-size: 18px;
      border-radius: 8px;
      cursor: pointer;
    }

    button:hover {
      background-color: #b783c7;
    }

    footer {
      text-align: center;
      padding: 20px;
      background-color: #eee;
      margin-top: 40px;
    }